<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>ARG Supply Tech</title>
  </head>
  <body>
    {{{body}}}
    <!-- This is where the content of your actual email templates will go -->
    <!-- ... footer etc ... -->
  </body>
</html>