<body
  style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; background-color: #eef1f5; color: #333; margin: 0; padding: 0;"
>
  <div>
    <div
      class="container"
      style="max-width: 600px; margin: 40px auto; background-color: #fff; box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); border-radius: 8px; overflow: hidden;"
    >
      <div class="content" style="padding: 20px; text-align: center;">
        <p>Dear {{buyer_name}},</p>
        <p>
          We are thrilled to onboard you to ARG Tech.
        </p>
        <p>Credentials:</p>
        <ul>
          <li><strong>Email:</strong> {{email}}</li>
          <li><strong>Password:</strong>{{password}}</li>
        </ul>
      </div>
    </div>
  </div>
</body>