<body
  style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; background-color: #eef1f5; color: #333; margin: 0; padding: 0;"
>
  <div>
    <div
      style="max-width: 600px; margin: 40px auto; background-color: #fff; box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); border-radius: 8px; overflow: hidden;"
    >
      <div
        style="background-color: #17a2b8; color: white; padding: 20px; text-align: center;"
      >
        <h1 style="margin: 0; font-size: 24px;">Auction Closed</h1>
      </div>
      <div style="padding: 20px; text-align: center;">
        <p>Dear {{name}},</p>
        <p>We would like to inform you that the auction "{{auctionName}}" has
          now concluded.</p>
        <p>Thank you for your participation and interest in our auction events.
          We hope to see you in future auctions.</p>

        <p>If you have any queries or require further information, please feel
          free to contact us.</p>
        <p>Best regards,</p>
        <p>Your Auction Team</p>
      </div>
    </div>
  </div>
</body>